
<div class="header-section">
	<div class="row header-row">
		<div class="span12 masthead">
			<h3 class="heading">Welcome to Summoner Stalker!</h3>
		</div>
	</div>
</div>
<div class="header-push">
</div>

<div>
    <p>Summoner Stalker keeps you informed about stalkers in League of Legends.</p>
	<p>You can <a href="/summoners">check out summoners</a> to get started.</p>
</div>
