<div>
	<h2 class="capitalise">{{ summoner.name }}</h2>
    <h4>Playing: {{ summoner.ingame }}</h4>
    
    <div ng-show="match_loading">Loading last match information... this can take a while</div>
    <div ng-show="match_loading==false">
         <h4 class="capitalise">Map: {{ matchDetail.map_name}} </h4>
         <p>Played on: {{ matchDetail.creation }} Time Played: {{  matchDetail.duration }}</p>
         <p class="capitalise">Mode: {{ matchDetail.mode }} </p>
         
         <table class="table table-bordered">
             <thead>
              <tr>
                <th>Summoner</th>
                <th>Champion</th>
              </tr>
            </thead>
            <tbody>
                <tr ng-repeat="participant in matchDetail.participants">
                    <td ng-class="{blueteam: participant.side=='blue', redteam: participant.side=='red'}">{{ participant.summoner }}</td>
                    <td ng-class="{blueteam: participant.side=='blue', redteam: participant.side=='red'}">{{ participant.champion }}</td>
                </tr>
            </tbody>
        </table>
        
        <p class="capitalise">Red Team Bans: <strong>{{ matchDetail.red_team_bans }}</strong> Blue Team Bans: <strong>{{ matchDetail.blue_team_bans }}</strong> </p>
         
    </div>
    
	<h4>Started watching {{ summoner.watched_date | timeAgo }}</h4>

	<p><a href="/summoners">back</a></p>
</div>
