<form class="form-horizontal" name="watcherForm">
    <div class="form-group">
          <label class="control-label col-sm-2" for="watcher">Watch Summoner:&nbsp;</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="pwd" ng-model="inputSummoner" placeholder="E.g. Dyrus">
            <button class="btn btn-submit" ng-click="addSummoner(inputSummoner)" ng-disabled="!inputSummoner">Add</button>
          </div>
    </div>
</form>

<div ng-repeat="summoner in summoners | orderBy: 'id':true ">
	<h4><a class="capitalise" href="/summoner/{{ summoner.id }}">{{ summoner.name }}</a> playing: {{ summoner.ingame }}
	<button class="btn btn-submit" ng-click="removeSummoner(summoner.id)">Unwatch</button>
	</h4>
</div>
